# Previsão de Doença Hepática: Simplificando a Aplicação de Machine Learning com PyCaret

A complexidade de um projeto de machine learning vai muito além da simples implementação de um modelo; diversos aspectos são considerados para alcançar resultados eficazes. O processo é exaustivo, envolvendo desde a pré-tratamento das variáveis e o balanceamento de classes até a escolha do modelo e a otimização de seus parâmetros. Cada uma dessas etapas consome tempo e exige foco do cientista de dados para garantir a implementação de um modelo eficaz.

Para resolver esses desafios, surgiu o PyCaret. O PyCaret é uma biblioteca de machine learning em Python, de código aberto e com abordagem low-code. Esta biblioteca simplifica os fluxos de trabalho em projetos de machine learning, acelerando o ciclo de experimentação de modelos e aumentando a produtividade do cientista de dados.

Para exemplificar os benefícios de se usar o PyCaret vou utilizar um projeto da Kaggle de previsão de doenças hepáticas, segue o link da base de dados no site da Kaggle e vamos ao projeto.

Lembrando que o objetivo desse post é apresentar o PyCaret e suas principais ferramentas, não vamos se atentar aos problemas da base de dados

## Etapas do Projeto

- Entendimento do Problema
- Importação das Dependências e Carregamento do Dados
- Breve entendimento sobre a base de dados
- Treinamento e Avaliação do Modelo
- Testando o modelo
- Finalização do Projeto

## Entendimento do problema

Um hospital coletou registros de exames de 1.700 pacientes com o objetivo de diagnosticar doenças hepáticas.

Nosso objetivo é desenvolver um modelo capaz de prever, de forma eficaz, quais pacientes possuem problemas hepáticos e identificar as variáveis que têm maior impacto nesses diagnósticos.

## Importação das Dependencias e carregamento dos dados

In [1]:
import pandas as pd
from pycaret import classification
from pycaret.classification import *

df = pd.read_csv('archive\Liver_disease_data.csv')

Como nosso problema é de classificação vamos importar apenas o módulo classification do pycaret

## Breve entendimento sobre a base de dados

In [2]:
df.head()

,Age,Gender,BMI,AlcoholConsumption,Smoking,GeneticRisk,PhysicalActivity,Diabetes,Hypertension,LiverFunctionTest,Diagnosis
0,58,0,35.857584,17.272828,0,1,0.658940,0,0,42.734240,1
1,71,1,30.732470,2.201266,0,1,1.670557,1,0,67.309822,1
2,48,0,19.971407,18.500944,0,0,9.928308,0,0,63.738956,0
3,34,1,16.615417,12.632870,0,0,5.630129,0,0,64.555873,1
4,62,1,16.065830,1.087815,0,1,3.566218,1,0,77.868689,1

In [3]:
#Para que não ocorra nenhum erro de interpretação vou fazer uma tradução das colunas para o pt-br
df.columns = ['Idade', 'Gênero', 'IMC', 'Consumo de álcool', 'Tabagismo', 'Risco genético', 'Atividade física',
              'Diabetes', 'Hipertensão', 'Teste de função hepática', 'Diagnóstico']

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1700 entries, 0 to 1699
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Idade                     1700 non-null   int64
 1   Gênero                    1700 non-null   int64
 2   IMC                       1700 non-null   float64
 3   Consumo de álcool         1700 non-null   float64
 4   Tabagismo                 1700 non-null   int64
 5   Risco genético            1700 non-null   int64
 6   Atividade física          1700 non-null   float64
 7   Diabetes                  1700 non-null   int64
 8   Hipertensão               1700 non-null   int64
 9   Teste de função hepática  1700 non-null   float64
 10  Diagnóstico               1700 non-null   int64
dtypes: float64(4), int64(7)
memory usage: 146.2 KB

A nossa variável alvo é o Diagnóstico

In [5]:
#Verificando se a base de dados esta desbalanceada
positivos = df[df['Diagnóstico'] == 1].shape[0]
negativos = df[df['Diagnóstico'] == 0].shape[0]

print(f"Quantidade de diagnósticos positivos: {positivos} "  )
print(f"Quantidade de diagnósticos negativos: {negativos} "  )

Quantidade de diagnósticos positivos: 936
Quantidade de diagnósticos negativos: 764

Sobre a base de dados, a nossa variável alvo está na coluna 'Diagnóstico', nossa base de dados está levemente balanceada.

# Treinamento e Avaliação do Modelo

Primeiramente irei passar as variáveis categóricas para o modelo e seguir para o modelo

In [6]:
categorias =['Gênero', 'Tabagismo', 'Risco genético','Diabetes', 'Hipertensão']

In [7]:
inicialização = setup(df, target='Diagnóstico', normalize=True, fix_imbalance=True,
                      categorical_features= categorias)

Primeiramente vamos falar sobre o comando 'setup', ele inicializa o ambiente de treinamento e cria o pipeline de trasnformação do modelo. Ele recebe de forma obrigatória os parâmetros correspondente a base de dados e o 'target' que se refere variável alvo.

O parâmetro 'normalize' é para normalizar a base dados, por padrão o pycaret utiliza o método zscore para normalizar e o parâmetro fix_imbalance para fazer o balanceamento da base de dados.

In [8]:
best_model = compare_models()

O comando 'compare_models' compara uma série de algoritmos de machine learning e compara as principais métricas de avaliação do modelo. Por padrão o PyCaret ordena do maior para o menor utilizando o accuracy, mas podemos passar para o modelo qual métrica odenar utilizando o parâmetro 'sort'.

Como o modelo gbc possui as melhores métricas do compare_models vamos escolher ele para continuar o nosso projeto.

Com o exemplo acima conseguir avaliar mais de 10 modelos de calssificação diferentes e escolher qual possui as melhores métricas. Imagina chegar a essa conclusão sem a utilização do PyCaret, seriam muitas linhas de código e dependendo do tamanho da base poderia demorar até dias para encontrar o melhor modelo.

Depois de encontrado o modelo que mais se adapta a nossa base vamos criar esse modelo e exibir as métricas de cada folds e o desvio padrão para cada métrica do modelo. Não vou me aprofundar muito sobre o que são cada métricas nem cada parâmetro, sugiro verificar a documentação.

In [9]:
model = create_model(best_model)

# Testando o modelo

Após a seleção do melhor modelo vamos aos testes

In [10]:
predict_model(best_model, raw_score= True)

,Idade,Gênero,IMC,Consumo de álcool,Tabagismo,Risco genético,Atividade física,Diabetes,Hipertensão,Teste de função hepática,Diagnóstico,prediction_label,prediction_score_0,prediction_score_1
1022,58,0,19.507698,14.617593,1,1,3.524359,1,0,90.429573,1,1,0.0166,0.9834
561,74,1,16.121340,4.930398,0,0,0.418216,0,0,91.550247,1,1,0.4750,0.5250
318,22,0,33.852692,7.102633,0,1,7.163545,0,0,91.929771,0,0,0.9223,0.0777
846,45,0,37.049805,7.430930,0,0,5.265194,0,0,80.132538,0,0,0.9180,0.0820
604,48,1,28.249788,5.071682,0,2,2.104618,0,0,83.967606,1,1,0.1134,0.8866
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,29,0,23.433504,3.624511,0,0,2.484685,1,0,77.851311,0,0,0.8720,0.1280
18,43,1,24.809843,13.707907,1,0,4.439882,0,0,99.826912,1,1,0.0739,0.9261
996,72,1,28.181629,16.209364,1,2,8.269035,0,0,53.120083,1,1,0.0019,0.9981
1664,56,0,17.005556,5.800880,0,0,5.023017,0,1,22.367489,0,0,0.9739,0.0261
1034,63,0,17.722332,5.090811,0,0,5.107393,0,1,23.890198,0,0,0.9671,0.0329

Aplicando o 'prdict_model' observamos que o modelo entrega boas métricas também para a base de teste. Com o parâmetro 'raw_score' temos uma informação muito interessante que são os scores de predição do modelo tanto para se a variável alvo assumir o valor 0 como assumir o valor 1.

Para avançarmos mais no entendimento do modelo podemos aplicar o comando 'evaluate_model'. Esse comando retorna uma forma dinâmica de apresentar as como o modelo foi construído e suas métricas

In [11]:
evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

Dentre as principais informações se destacam os seguintes:
 - Pipeline Plot
 - Curva AUC
 - Learning Curve
 - Feature Importance

Claro que essa obervação é puramente pessoal, cada aspecto de entendimento do modelo parte da necessidade do negócio e a configuração do modelo.

# Finalização do Projeto

Depois de todas essas etapas para finalizar precisamos preparar o modelo para que o hospital possa utilizá-lo em seus diagnósticos

In [12]:
final_best = finalize_model(best_model)

In [13]:
save_model(final_best, 'Diagnóstico')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['Idade', 'IMC',
                                              'Consumo de álcool',
                                              'Atividade física',
                                              'Teste de função hepática'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean'))),
                 ('categorical_imputer',
                  Transform...
                                             criterion='friedman_mse', init=None,
                                             learning_rate=0.1, loss='log_loss',
                                             max_depth=3, max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=100,
                                             n_iter_no_change=None,
                                             random_state=8413, subsample=1.0,
                                             tol=0.0001, validation_fraction=0.1,
                                             verbose=0, warm_start=False))],
          verbose=False),
 'Diagnóstico.pkl')

O comando 'finalize_model' vai fazer treinaer o modelo com toda a base de dados e por fim o 'save_model' vai salvar o modelo para que seja realizada o processo de deploy desse projeto

Que tal agora passarmos alguns dados para testar o funcionamento do modelo?

In [14]:
loaded_model = load_model('Diagnóstico')

Transformation Pipeline and Model Successfully Loaded

In [15]:
novos_dados = pd.DataFrame({
    'Idade': [27, 35],
    'Gênero': [1, 0],
    'IMC': [31, 28],
    'Consumo de álcool': [10, 20],
    'Tabagismo': [0, 1],
    'Risco genético': [1, 1],
    'Atividade física': [0, 1],
    'Diabetes': [0, 0],
    'Hipertensão': [1, 1],
    'Teste de função hepática': [42.734240, 68.58555],
})

In [16]:
predict_model(loaded_model, raw_score= True, data = novos_dados)

,Idade,Gênero,IMC,Consumo de álcool,Tabagismo,Risco genético,Atividade física,Diabetes,Hipertensão,Teste de função hepática,prediction_label,prediction_score_0,prediction_score_1
0,27,1,31,10,0,1,0,0,1,42.734241,0,0.5749,0.4251
1,35,0,28,20,1,1,1,0,1,68.585548,1,0.0095,0.9905

Teste realizado com sucesso!

# Considerações Finais

Conforme mensionado anteriormente esse post tem o objetivo de apresentar a biblioteca PyCaret e aplicá-la a um projeto de machine learning de previsão de doença hepática. 

A biblioteca PyCaret cumpre seu propósito estabelecido, proporcionando uma grande ajuda ao cientista de dados na construção de projetos de machine learning. É notável a rapidez com que conseguimos alcançar os melhores resultados, tornando o processo mais simples e eficiente.

Entretanto, é importante destacar que, para utilizar o PyCaret de forma eficaz, é necessário um entendimento profundo da biblioteca. O uso dos parâmetros padrão pode levar a uma certa "cegueira" do cientista de dados, que pode não compreender totalmente o que ocorre nos bastidores. Etapas como tratamento de valores faltantes, tratamento de variáveis categóricas, balanceamento da base de dados, normalização e padronização dos dados são todas fundamentais e podem ser realizadas pelo PyCaret. Esses processos impactam significativamente o desempenho do modelo e devem ser bem compreendidos e ajustados conforme necessário.

Outro fator importante é a vasta quantidade de ferramentas disponíveis nesta biblioteca. Podemos ajustar os modelos com o comando tune_model e trabalhar com diferentes tipos de problemas, como regressão e modelos não supervisionados. Além disso, é possível integrar com a biblioteca SHAP para melhorar o processo de análise interpretativa. O PyCaret também facilita o processo de deployment, permitindo a implementação de modelos tanto localmente quanto em provedores de nuvem como AWS, GCP e Azure.

Enfim, uma ótima opção para um cientista de dados